.product-card {
  border-radius: 10px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
  background: #f2f2f2;
}

.product-title {
  font-size: 14px;
  line-height: 1.2;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 34px;
}

.price {
  font-size: 14px;
}
