<div class="container py-4">

  @if (loading) {
    <div class="alert alert-info">Loading...</div>
  } @else if (error) {
    <div class="alert alert-danger">
      {{ error }}
      <a routerLink="/products" class="ms-2">Back to Products</a>
    </div>
  } @else if (!product) {
    <div class="alert alert-warning">
      Product not found.
      <a routerLink="/products" class="ms-2">Back to Products</a>
    </div>
  } @else {

    <div class="mb-3">
      <button class="btn btn-outline-secondary btn-sm" (click)="back()">← Back</button>
    </div>

    <div class="row g-4">
      <div class="col-12 col-lg-7">
        <div class="card shadow-sm">
          <img [src]="product.imageUrl" class="details-img" [alt]="product.name" />
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="text-muted small">{{ product.categoryName }}</div>
            <h2 class="fw-bold mb-2">{{ product.name }}</h2>
            <div class="h4 mb-3">${{ product.price }}</div>

            <p class="text-muted">
              {{ product.description }}
            </p>

       <div class="d-flex gap-2">
  <button
    class="btn btn-dark"
    (click)="addToCart()"
    [disabled]="!product || product.quantity <= 0">
    Add to Cart
  </button>

  <button class="btn btn-outline-secondary" disabled>
    Buy Now (later)
  </button>
</div>

            <hr />

            <ul class="list-unstyled m-0">
              <li><strong>Stock:</strong> {{ product.quantity }}</li>
              <li><strong>Condition:</strong> New</li>
              <li><strong>Shipping:</strong> Unkown</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  }
</div>
